[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
smtplib = "*"
webbrowser = "*"
pyttsx3 = "*"
wikipedia = "*"
SpeechRecognition = "*"

[dev-packages]

[requires]
python_version = "3.8"
