[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
pyttsx3 = "*"
pylint = "*"
instaloader = "*"
wikipedia = "*"
autopep8 = "*"
psycopg2-binary = "*"
SpeechRecognition = "*"
text-to-speech = "*"
PyAudio = "*"
speech = "*"
"psycopg2.binary" = "*"
sounddevice = "*"
scipy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
